@font-face {
  font-family: bunken;
  src: url('../font/BunkenTechSansPro-Book.ttf');
}



#myBtn {
    display: none;
}

* {
    margin: 0;
    font-family: bunken;
    font-weight: bold;
    
}

body {
    background: linear-gradient(0deg, rgba(235,245,253,1) 30%, rgba(110,185,245,1) 100%);
    background-attachment: fixed;
}

#pokedex {
    position:absolute;
    width: 30vw;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




/*BOTON PREVIEW Y NEXT*/

button {
    padding: 10px 40px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0,.8,.26,.99);
  }
  
  button:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0,.8,.26,.99);
    z-index: -1;
    background-color: #333!important;
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
  }
  
  button:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0,.8,.26,.99);
  }
  
  button:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
  }
  
  button:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  }
  
  button:active {
    transform: translateY(4px);
  }
  
  button:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
  }


/*--------------------------------------------------*/

/*Input*/
.input {
    --input-focus: #323232;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }

  .input {
    position: absolute;
    left: 49vw; 
    top: 70vh;
    transform: translate(-50%, -50%);
    width: 20vw; 
  }
/*-------------------------------------*/

#preview, #next {
  position: absolute;
  top: 82vh; 
}

#preview {
  left: 38.5vw; 
}

#next {
  left: 50vw; 
}

#id, #name {
  position: absolute; 
  top: 57vh;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#id {
  left: 43vw;
}

#name {
  left: 53vw;
}