.container {
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: c;
}



button {
    width: 300px;
    height: 100px;
}

body {
    background-image: url(/Dia_11/storage/img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#back {
    position: absolute;
    left: 30%;
    top: 52%;
    width: 15vw;
}

.card-image {
    position: absolute;
    left: 49.8%;
    width: 15vw;
}